.padding {
  margin-top: 30rem !important;
}

body {
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
}

#image {
  width: 100%;
  height: 100%;
  background-image: url(https://res.cloudinary.com/hng-pre-internship/image/upload/v1585087881/image/img-4_xnu7cc.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  background-color: transparent;
  font-size: 2rem !important;
  color: var(--text-dark);
}

.input {
  height: 1rem;
  width: fit-content;
  background: no-repeat;
  border: none;
  outline: none;
  border-bottom: thin var(--text-main) solid;
}

form {
  text-align: left;
  font-size: 1rem;
}

#image h2 {
  text-transform: uppercase;
}

.btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
