* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #2d283e;
  --text-main: #802bb1;
  --text-dark: #2d283e;
  --text-link: #4c495d;
  --text-light: #d1d7e0;
  --font-small: 1.5rem;
  --font-mid: 2rem;
  --font-big: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-main);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  scroll-snap-type: proximity;
}
.container {
  width: 100vw;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
}

/* Lists */
li {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: var(--text-light);
}
